LLM_BASE_URL=
LLM_MODEL=
LLM_API_KEY=

EMBEDDINGS_BASE_URL=
EMBEDDINGS_MODEL=
EMBEDDINGS_API_KEY=

QDRANT_API=
QDRANT_API_KEY=

S3_BUCKET=
S3_AKID=
S3_SK=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

ATLASSIAN_MCP_URL=